h1{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
  }

.container{
    display: flex;
    margin-top: 50px;
}

.card{
  padding: 23px 12px;
  margin: 23px 12px;
  background-color: burlywood;
  box-shadow: inset 3px 5px green;             
  box-shadow: 3px 5px green, 4px 6px red;           
}

h2{
    text-align: center;
}

#card-1:hover{
    background-color: burlywood;
    font-size: 45px;
    transform: translate(0px, -50px);
}

#card-2:hover{
    background-color: burlywood;
    font-size: 45px;
    transform: translate(0px, -50px);
}

#card-3:hover{
    background-color: burlywood;
    font-size: 45px;
    /* transform: scale(1); */
    transform: translate(0px, -50px);
}

#card-4:hover{
    background-color: burlywood;
    font-size: 45px;
    transform: translate(0px, -50px);
}